<div>Welcome to my web page! My name is Jaime Garibaldo Hernandez, and I've been studying
Web Development for <p id="webtime"></p> months!</div>
<!-- Add date and time change for months/ years EX: Been studying for 1 year and 3 months -->
